<div class="container" >
    <form name="newnewBotForm" class="form-login form-wrapper form-narrow" ng-submit="createBot()" novalidate>
        <h3 class="title-divider"><span>Enter Admin Key</span></h3>
        <fieldset ng-disabled="isSubmitting">
            <div ng-show="errors.length > 0">
                <ul ng-repeat="error in errors" class="list-unstyled">
                    <p>{{ error.message }}</p>
                </ul>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="ripple_address" ng-model="newBot.interval" placeholder="How ofter shold I send money? (millisecons)" required />
            </div>

            <div class="form-group">
                <select class="form-control" ng-model="newBot.newBot_type" required>
                    <option value="">-- Select newBot Type -- </option>
                    <option value="outgoing">Outgoing</option>
                    <option value="incoming">incoming</option>
                </select>

            </div>

            <div class="form-group">
                <input type="text" class="form-control" ng-model="newBot.currency" placeholder="Currency" required />
            </div>

            <div class="form-group">
                <input type="text" class="form-control" ng-model="newBot.amount" placeholder="Amount | Default Random" />
            </div>

            <div class="form-group">
                <input type="number" class="form-control" ng-model="newBot.payment_target_count" placeholder="How many payments in total?" required />
            </div>

            <div class="form-group">
                <button class="btn btn-primary" ng-disabled="setupWizardForm.$invalid" style="width: 100%">
                    <span ng-show="isSubmitting">Launching Bot</span>
                    <span ng-hide="isSubmitting">Launch Bot</span>
                </button>
            </div>
        </fieldset>
    </form>

</div>